.aaieduhr-alert {
	position: fixed;
	right: 1.5rem;
	top: 1.5rem;
	padding: 1.5rem;
	color: white;
	opacity: 0.83;
	transition: opacity 0.6s;
	margin-bottom: 1rem;
	background-color: gray;
	max-width: 40%;
	min-width: 20%;
}

.aaieduhr-alert div {
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.aaieduhr-alert .danger {
	background-color: #f44336;
}

.aaieduhr-alert .success {
	background-color: #4CAF50;
}

.aaieduhr-alert .info {
	background-color: #2196F3;
}

.aaieduhr-alert .warning {
	background-color: #ff9800;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
